{% load static %}

<!-- All Jquery -->
<!-- ============================================================== -->
<script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}">
</script><script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- apps -->
<script src="{% static 'distcss/js/app.min.js' %}"></script>
<script src="{% static 'distcss/js/app.init.light-sidebar.js' %}"></script>
<script src="{% static 'distcss/js/app-style-switcher.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'distcss/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'distcss/js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'distcss/js/feather.min.js' %}"></script>
<script src="{% static 'distcss/js/custom.min.js' %}"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="{% static 'assets/libs/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
<!--c3 charts -->
<script src="{% static 'assets/extra-libs/c3/d3.min.js' %}"></script>
<script src="{% static 'assets/extra-libs/c3/c3.min.js' %}"></script>
<!--chartjs -->
<script src="{% static 'assets/libs/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'distcss/js/pages/dashboards/dashboard1.js' %}"></script>